*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


main{

    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.container {
    display: flex;
    align-items: center;
    background-color: rgb(214, 214, 214);
    height: 500px;
    min-width: 50%;
}


.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
    padding: 0px 30px 0px 30px;
    border-radius: 45px 0px 0px 45px;
    flex: 2;
    height: 100%;
}

.leftContent .leftTitle {
    font-size: 1.4em; 
}


.leftContent .leftText{
    padding: 10px 0px;
    font-size: 0.75em;
    color:rgb(65, 65, 65);
}

.leftContent .leftLogo {
    width: 100px;
    align-items: left;
}

#logo {
    max-width: 95%;   
}


.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 30px 0px 30px;
    background: rgb(0,176,242);
    background: linear-gradient(90deg, rgba(0,176,242,1) 72%, rgba(0,168,231,1) 100%);
    flex: 4;
    height: 100%;
    border-radius: 0px 45px 45px 0px;
}


.rightContent h1 {
    color: whitesmoke;
    font-size: 1.5em;
}


.rightContent .formGroup {
    color: rgb(65, 65, 65);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

.btn-entrar{
    -webkit-appearance: none;
    -moz-appearance: none; 
    color: rgba(0,168,231,1);
    background-color:whitesmoke;
    border: none;
    padding: 2px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 45px;
}

.btn-entrar:hover {
    background-color: rgba(245, 245, 245, 0.774);
    cursor: pointer;
}